* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .32rem;
}

html,
body,
.warp {
    width: 100%;
    height: 100%;
    background: #1D1D28;
}

.warp {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        h3 {
            text-align: center;
            color: #fff;
        }
    }
    header {
        flex-shrink: 0;
        width: 100%;
        height: 44px;
        background-image: linear-gradient(-135deg, #2CBB55 0%, #2CBB86 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        .inp {
            flex: 1;
            height: 30px;
            display: flex;
            background: #FFFFFF;
            border-radius: 15px;
            align-items: center;
            img {
                display: block;
                width: 14px;
                height: 14px;
                padding: 0 5px;
            }
            input {
                border: 0;
                background: none;
                display: inline-block;
                height: 100%;
                padding: 0 5px;
            }
        }
        span {
            flex-shrink: 0;
            display: block;
            img {
                display: block;
                width: 40px;
                height: 21px;
                margin-right: 5px;
            }
        }
        b {
            color: #FFFFFF;
            font-size: 14px;
            padding: 0 5px;
        }
        >img {
            width: 9px;
            height: 6px;
        }
        i {
            display: block;
        }
    }
    section {
        flex: 1;
        .banner {
            box-sizing: border-box;
            padding: 20px 20px;
            width: 100%;
            height: 170px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            li {
                flex-shrink: 0;
                width: 25%;
                margin: 10px 0;
                dl {
                    width: 90%;
                    margin: 0 auto;
                    dt {
                        display: flex;
                        justify-content: center;
                        img {
                            display: block;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    dd {
                        text-align: center;
                        color: #fff;
                        font-size: 13px;
                        padding: 5px 0;
                    }
                }
            }
        }
        .inner {
            margin: 5px 0;
            h5 {
                width: 90%;
                margin: 0 auto;
                color: #fff;
                padding: 2px 0;
                border-left: 3px solid yellow;
                text-indent: 5px;
            }
            .inner_content {
                width: 90%;
                margin: 5px auto;
                overflow: hidden;
                display: flex;
                li {
                    flex-shrink: 0;
                    width: 180px;
                    height: 90px;
                    margin: 0 5px;
                    border-radius: 7px;
                    font-size: 18px;
                    color: #fff;
                    font-weight: 800;
                    line-height: 90px;
                    text-align: center;
                }
                .one {
                    background: url(../images/guoji-1.png) no-repeat 100% 100%;
                    background-size: 100% 100%;
                }
                .two {
                    background: url(../images/guoji-2.png) no-repeat 100% 100%;
                    background-size: 100% 100%;
                }
            }
        }
    }
    footer {
        flex-shrink: 0;
        background: #ffff;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        dl {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            dt {
                display: block;
                padding: 0 5px;
                img {
                    display: block;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}